<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col col-12 border border-3 border-black">
      <div class="d-flex">
        <p><%= "Post #{@post.id} by #{@post.author.name}"%></p><sub>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </sub>
      </div>
        <div class="d-flex">
            <p><%= @post.text %></p>
        </div>
        <div class="form">
         <%= link_to new_user_post_comment_path(@post.author_id, @post.id) do %>
          <p><%= "Comments: #{@post.comments_counter}" %></p>
        <% end %>
        <%= link_to user_post_likes_path(@post.author_id, @post.id) do %>
          <p><%= "Likes: #{@post.likes_counter}" %></p>
        <% end %>
      <%= form_with url: user_post_likes_path(@post.author_id, @post.id) do |form| %>
         <%= form.submit 'Like' %>
      <% end %>
        </div>

      </div>
    </div>
   
  </div>
</div>